body {
    color: lavender;
    background:lightslategray;
}

.staff {
    color:darksalmon;
    background: cornsilk;
}

.staff-searched {
    background:cornflowerblue;
    color:lightgoldenrodyellow;
}